* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Inter, sans-serif;
  font-size: 1.6rem;
  line-height: 1.2;
  color: #000;
  background-color: #000;
}

img {
  width: 100%;
  max-width: 100%;
}

.cabecalho {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  padding: 0 4.88rem;
  background-color: #fff;
}
.cabecalho__logo {
  width: 15rem;
  margin-bottom: 2px;
}
.cabecalho__container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: start;
  gap: 6.1rem;
}
.cabecalho__links {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 3.12rem;
}
.cabecalho__lista {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 4.88rem;
}
.cabecalho__lista--tipos {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 0.32rem;
}
.cabecalho__link-item {
  font-size: 1.33rem;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  line-height: 1;
  border-bottom: solid 2px transparent;
}
.cabecalho__link-item--ofertas {
  color: #ff0000;
}
.cabecalho__link-item:hover {
  border-bottom-color: currentColor;
}
.cabecalho__link-item--tipo {
  text-transform: none;
  font-weight: 400;
  color: #626262;
}
.cabecalho__link-item--tipo:hover {
  border-bottom: none;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}
.cabecalho__item-lista {
  padding: 3.12rem 0;
}
.cabecalho__item-lista:hover .cabecalho__expansao-tipos {
  display: flex;
}
.cabecalho__expansao-tipos {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 4.88rem;
  display: none;
  left: 0;
  right: 0;
  top: 100%;
  padding: 3.12rem 4.88rem;
  background-color: #fff;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.1);
}
.cabecalho__link-imagem {
  max-height: 40rem;
}
.cabecalho__icones {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
}
.cabecalho__icone {
  color: inherit;
  fill: currentColor;
  width: 2rem;
  height: 2rem;
  text-decoration: none;
}
.cabecalho__icone--logado {
  fill: transparent;
  stroke: currentColor;
}
.cabecalho__icone--menor {
  width: 1.6rem;
}
.cabecalho__link--logado .cabecalho__icone {
  display: none;
}
.cabecalho__link--logado .cabecalho__icone--logado {
  display: block;
}
.cabecalho__link-icone {
  color: inherit;
  transition: ease 200ms;
}
.cabecalho__link-icone:hover {
  transform: scale(1.1);
  color: #ff0000;
}
.cabecalho__link-icone--logado {
  display: none;
}
.cabecalho__icone-carrinho {
  position: relative;
}
.cabecalho__items {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 0;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(55%, -55%);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  background-color: #ff0000;
  font-size: 1.2rem;
}
.cabecalho__items--visivel {
  display: flex;
}

.carrossel {
  position: relative;
  width: 100%;
  aspect-ratio: 1694/573.5;
  overflow: hidden;
}
.carrossel__imagens {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 0;
}
.carrossel__item {
  min-width: 100%;
  height: 100%;
}
.carrossel__botoes {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 0.86rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -2rem);
}
.carrossel__botao {
  width: 12.5rem;
  height: 0.2rem;
  background-color: rgba(167, 167, 167, 0.5019607843);
  border-radius: 5rem;
}
.carrossel__preenchimento-botao {
  transition: width ease-out 5s;
  width: 1%;
  height: 100%;
  background-color: white;
}
.carrossel__preenchimento-botao--cheio {
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
