$cor-preta: #000;
$cor-cinza: #626262;
$cor-vermelha: #ff0000;
$cor-cinza-escuro: #a7a7a780;

@mixin flex($direction: row, $align: stretch, $justify: start, $gap: 0, $wrap: nowrap) {
    display: flex;
    flex-flow: $direction $wrap;
    align-items: $align;
    justify-content: $justify;
    gap: $gap;
}